body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
}

header {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	left: 10px;
	display: inline-block;
	position: absolute;
}

nav {
	height: 40px;
	background-color: #f2f2f2;
	/*position: fixed;*/
	width: 100%;
	display: inline-block;
	text-align: right;
	border: 1px solid lightgrey;
}

nav li {
	text-align: right;
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}

a:link, a:visited {
	font: indigo;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a {
	color: indigo;
}

.container {
	margin-top: 10px;
	margin-left: 80px;
	font-size: 18px;
}

.demo-form .search-label {
	margin-bottom: 5px;
	display: block;
	padding-top: 20px;
    padding-bottom: 5px;
}

.demo-form .search-input {
	width: 400px;
    height: 26px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid gray;
}

.demo-form .search-button {
    border: 1px solid gray;
    border-radius: 3px;
    width: 28px;
    vertical-align: top;
}

.pagination {
	padding-top: 30px;
    padding-bottom: 40px;
    display: inline-block;
    font-size: 0;
}

.pagination-button-one {
	border: 1px solid grey;
    display: inline-block;
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid grey;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination-button-two {
	padding: 8px 15px;
	border: 1px solid grey;
    font-size: 16px;
}

.pagination-button-three {
	display: inline-block;
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid grey;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.listing-one {
	margin-bottom: 10px;
}

.listing-two {
	margin-bottom: 10px;
}

.listing-three {
	margin-bottom: 10px;
}